@import '../mixins/mixins';
@import '../variables/variable';

/*=========================================================
                      Features css Start
=========================================================*/
#features{
    padding: 60px 0;
    background: $c2;

    .feature_item{
        padding: 40px 40px 60px;
        background: linear-gradient(to bottom, #093ac1 0%,#437eeb 100%);
        border-radius: 15px;
        position: relative;
        transition: all linear .2s;
        overflow: hidden;
        &::after{
            position: absolute;
            content: '';
            top: -40px;
            right: -40px;
            width: 100px;
            height: 100px;
            background: #6493D9;
            border-radius: 50%;
            transform: scale(1);
            transition: all linear .2s;
        }
        &::before{
            position: absolute;
            content: '';
            top: -40px;
            right: -40px;
            width: 150px;
            height: 150px;
            background: #4C80DC;
            border-radius: 50%;
            transform: scale(1);
            transition: all linear .3s;
        }
        &:hover{
            background: linear-gradient(to bottom, #437eeb 0%,#093ac1 100%);
            &::after,
            &::before{
                transform: scale(1.5);
            }
        }

        i{
            color: #fff;
            font-size: 60px;
        }
        h6{
            @include fs(#fff,24px,800,$f1);
            margin-top: 40px;
            margin-bottom: 40px;
        }
        ul{
            li{
                @include fs(#F8F9FA,15px,400,$f1);
                margin: 15px 0;
                i{
                    font-size: 15px;
                    margin-right: 10px;
                }
            }
        }
    }
}
/*=========================================================
                      Features css end
=========================================================*/