@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden !important;
}

ul,
li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
    padding: 0;
    margin: 0;
}

.com_btn {
    padding: 15px 40px;
    background-image: linear-gradient(90deg, rgba(30, 85, 189, 1) 0%, rgba(67, 126, 235, 1) 100%);
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;

    &:hover {
        color: #fff;
        background-image: linear-gradient(90deg, rgba(67, 126, 235, 1) 0%, rgba(30, 85, 189, 1) 100%);
    }
}

.com_head {
    text-align: center;
    h6 {
        color: #fff;
        font-size: 20px;
        font-weight: 800;
        font-family: 'Nunito', sans-serif;
        text-transform: capitalize;
        margin-bottom: 20px;
        position: relative;
        display: inline;
        &::after{
            position: absolute;
            content: '';
            left: 0;
            bottom: 2px;
            width: 100%;
            height: 8px;
            background: rgba(204, 204, 204, 0.2);
        }
    }
    h4 {
        margin-top: 20px;
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        font-family: 'Nunito', sans-serif;
        text-transform: capitalize;
    }
}

/*=========================================================
                    Common css end
=========================================================*/